<div class="post-detail py-5 bg-light">
  <div class="container">
    <div class="card mx-auto mt-4 shadow-lg">
      <img class="card-img-top"><%= image_tag @post.get_image %>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-2">
            <img class="img-fluid rounded-circle"><%= image_tag @post.user.get_profile_image(100,100) %>
          </div>
          <div class="col-sm-12 col-md-10">
            <p class="card-title">
              <a class="text-dark">タイトル：<%= @post.title %></a>
            </p>
            <p class="card-title">説明：<%= render_with_tags(@post.body) %></p>
            <span>ユーザーネーム：<%= @post.user.nickname %> | </span>
            <span>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %> | </span>
            <span id="favorite_buttons_<%= @post.id %>">
              <%= render "public/favorites/favorite", post: @post %>
            </span> | 
            <span>コメント件数：<%= @post.comments.count %></span>
            <div>
              <% if current_user.following?(@post.user) %>
                <%= link_to "フォロー外す", user_follows_path(@post.user.id), method: :delete, class: 'btn btn-danger' %>
              <% else %>
                <%= link_to "フォローする", user_follows_path(@post.user.id), method: :post, class: 'btn btn-info' %>
              <% end %>
            </div>
            <div>
              <% if @post.user == current_user %>
                <%= link_to "投稿を削除", post_path(@post), method: :delete, class: 'btn mt-3 btn-danger' %>
              <% end %>
            </div>
            <div>
              <div id="comments-area">
                <%= render "public/comments/comment", posts: @post %>
              </div>
            </div>
            <div>
              <p id="comments_form">
                <%= render "public/comments/form", post: @post, comment: @comment %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
