<h2 class="border-bottom border-dark">検索結果一覧</h2>

<div class="container">
  <div class="row">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(50,50) %></td>
          <td><%= user.nickname %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->
    <tbody>
      <% @posts.each do |post| %>
        <div class="mb-4 border">
          <div><%= link_to post_path(post.id) do %>
              <%= image_tag post.get_image, size: "600x300" %>
              <% end %>
          </div>
          <div><%= post.title %></div>
          <div><%= post.body %></div>
        </div>
      <% end %>
    </tbody>
  <% end %>
  </div>
</div>